<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container mt-4">
        <h2 style="text-align: center">WELCOME</h2>
        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th scope="col">NIM</th>
                    <th scope="col">Nama Mahasiswa</th>
                    <th scope="col">Kode Jurusan</th>
                    <th scope="col">Alamat</th>
                    <th scope="col">Nama Jurusan</th>
                    <th scope="col">Tanggal Lahir</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach((item, index) => { %>
                <tr>
                    <th scope="row"><%= item.nim %></th>
                    <td><%= item.nama %></td>
                    <td><%= item.alamat %></td>
                    <td><%= item.kode_jurusan %></td>
                    <td><%= item.nama_jurusan %></td>
                    <td><%= item.tanggal_lahir %></td>
                    <td>
                        <a href="/edit/<%= index %>">
                            <button type="button" class="btn btn-success">Edit</button>
                        </a>
                        <a href="/delete/<%= index %>">
                            <button type="button" class="btn btn-danger">Delete</button>
                        </a>
                    </td>
                </tr>
                <% }) %>
            </tbody>
            <a href="/filter">
                <button type="button" class="btn btn-dark">Search</button>
            </a>
            <a href="/tambah">
                <button type="button" class="btn btn-dark">Add New</button>
            </a>
        </table>
</body>
</html>